{% include 'header.html' %}



    <div class="container">

    <h3>Dessert Details</h3>

    {% if dessert %}

      <h4>{{ dessert.name }}</h4>

      <p>Price: ${{ dessert.price }}</p>

      <p>Calories: {{ dessert.calories }}</p>

      <p>Calories per dollar: {{ dessert.calories_per_dollar() }}</p>

      <p>Origin: {{ dessert.origin }}</p>

      <p>Image:<p>
      <p><img src="{{ dessert.image_url }}" height="400"></p>

      <a href="/edit/{{ dessert.id }}" class="btn btn-default">Edit {{ dessert.name }}</a> <a href="/delete/{{ dessert.id }}" class="btn btn-danger">Delete {{ dessert.name }}</a>

    {% endif %}

    {% if error %}
    <div class="alert alert-danger" role="alert">

    An error occurred trying to find your dessert:

    {{ error }}

    </div>
    {% endif %}

    <a href="/" class="btn btn-success">Back</a>

    </div>

</body>
