{% include 'header.html' %}

<body>

    <div class="container">


      <h3>Dessert Menu</h3>

      {% if message %}
      <div class="alert alert-info" role="alert">

      {{ message }}

      </div>
      {% endif %}


      <form action="/search" method="POST" class="form-inline">

      <div class="form-group">

          <input  class="form-control" id="term" name="term" type="text" />

      </div>

      <input type="submit" value="Search" class="btn btn-defult"/>


      </form>

      <table class="table table-striped">
        <tr>
          <td> <a href="/order/name">Name</a></td>
          <td> <a href="/order/price">Price</a></td>
          <td> <a href="/order/calories">Calories</a></td>
          <td> Image</td>
        </tr>
        {% for dessert in desserts %}
          <tr>
            <td><a href="/desserts/{{ dessert.id }}">{{dessert.name}}</a></td>
            <td>$&nbsp;{{dessert.price}}</td>
            <td>{{dessert.calories}}</td>
            <td><img src="{{ dessert.image_url }}" width="150"></td>
          </tr>
        {% endfor %}
      </table>

      <a href="/add" class="btn btn-success">Add Item</a>



    </div>



</body>
