{% include 'header.html' %}


    <div class="container">


      <h3>Dessert Menu</h3>

      {% if error %}
      <div class="alert alert-info" role="alert">

      {{ error }}

      </div>
      {% endif %}

      <table class="table table-striped">
        <tr>
          <td> <a href="/order/name">Name</a></td>
          <td> <a href="/order/price">Price</a></td>
          <td> <a href="/order/calories">Calories</a></td>
          <td> Image</td>
        </tr>
        {% for dessert in desserts %}
          <tr>
            <td><a href="/desserts/{{ dessert.id }}">{{dessert.name}}</a></td>
            <td>$&nbsp;{{dessert.price}}</td>
            <td>{{dessert.calories}}</td>
            <td><img src="{{ dessert.image_url }}" width="150"></td>
          </tr>
        {% endfor %}
      </table>

      <p><a href="/add" class="btn btn-success">Add Item</a></p>



    </div>



</body>
